@import url('https://fonts.googleapis.com/css?family=Asap|Inconsolata');

:root{
font-family: 'Inconsolata', monospace;
font-family: 'Asap', sans-serif;
}
link{
    display:none;
}

body{
    max-width:980px;
    margin:auto;
    margin-bottom:120px;
}

*img{
    float:left;
    width:200px;
    heigh:100px;
    margin:auto;
}

#container{
    width:200px;
    height:200px;
    position:relative;
    border:1px solid black;
}
.box{
    border:1px solid red;
    position:absolute;
    width:20px;
    height:20px;    
}

div + p {
    display:center;
}
#aboutme img{
    width:200px;
    float:left;
    margin-left:20px;
} 
#work img{
    width:400px;
    float:right;
    margin-right:20px;
} 

input{
    display:center;
}
.social{
    display:inline;
    width:30px;
    height:30px;
    cursor:pointer;
}




header nav{
    display:flex;
    justify-content:space-between;
}

header nav ul{
    flex:1;
    display:flex;
    padding: 0;
}
header nav ul li{
    list-style-type: none;
    margin:0 2%;
}
header nav ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    color:black;
   
}
header nav ul li a:visited {
    color:black;
    
}
header nav p{
    font-size: 0.9rem
    align="center"
}
header nav p img{
    width:50px;
    float :left;
    margin-right:10px;
}






